<% include partials/header %>

<h1>welcome admin</h1>
<p>how can I help you</p>
<button class="btn btn-lg btn-outline-success"><a href="/admin/users">show all users</a></button>
<button class="btn btn-lg btn-outline-success"><a href="/admin/products">show all products</a></button>

<% include partials/footer %>