<% include ../partials/header %>
<div class="container">
   
    <div class="container card">
    <% users.forEach(function(user){ %>
        <div class="row" style="margin-bottom:5px;">  
            <div class="col-sm-12 card border-light"> 
                <div class="row"> 
                    
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7 card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="card-title">
                                    <%= user.username %>
                                </h4>
                            </div>
                            <div class="col-sm-5">
                                <p><%= user.email %></p>
                            </div>
                            <div class="col-sm-2">
                                <a class="card-link btn btn-secondary" href="/admin/users/<%= user._id %>/edit">Edit</a>
                            </div>
                            <div class="col-sm-2">
                            <form class="delete-form" action="/admin/users/<%= user._id %>?_method=DELETE" method="POST">
                                   <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                            </div>
                        </div> 
                            
                           
                            
                    </div>
                </div>    
            </div> 
        </div> 
        <hr>
    <% }); %>
    </div>
</div>
<% include ../partials/footer %>